.split-secret {
  height: calc(100vh - var(--navbar-size));
  overflow-y: auto;
}

.partsTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.partsTable td {
  word-wrap: break-word;
}

.uploadBtn-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
